* text=auto eol=lf

/tests/fixtures/vulnerabilities.*.json -diff linguist-generated=true

# Ignore everything.
/* export-ignore

# Export white-listed production code only.
/bin            -export-ignore
/src            -export-ignore
/composer.json  -export-ignore
/composer.lock  -export-ignore
/LICENSE        -export-ignore
/README.md      -export-ignore
